<div class="notification" ng-repeat="notif in notifications">

    <div ng-if="notif.type == 'START_DUEL'" class="separator">
        <div class="notif_photo" style="background: url({{notif.picture1}}) no-repeat center; background-size: cover;">
        </div>
        <div class="list_notif_defi">
            <div class="notif_name">{{notif.firstname1}}</div>
            <ul>
                <li>
                    <p>Hey {{notif.firstname2}} ! {{notif.firstname1}} te défi !</p>
                    <div class="notif_response">
                        <a class="accept icon-plus" ng-click="accept(notif.id, notif.blind_id, notif.category, notif.facebook_id1, notif.facebook_id2)"></a>
                        <a class="refuse icon-min" ng-click="refuse(notif.blind_id, notif.id)"></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div ng-if="notif.type == 'END_DUEL'" class="separator">
        <div class="notif_photo" style="background: url({{notif.picture2}}) no-repeat center; background-size: cover;">
        </div>
        <div class="list_notif_defi">
            <div class="notif_name">{{notif.firstname2}}</div>
            <ul>
                <li>
                    <p>Les resultats sont là contre {{notif.firstname1}}</p>
                    <div class="notif_response">
                        <a class="accept icon-plus" ng-click="showResult(notif.id, notif.blind_id, notif.category, notif.facebook_id1, notif.facebook_id2)"></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div ng-if="notif.type == 'MESSAGE'" class="separator">
        <div class="notif_photo" style="background: url('public/img/Logo.svg') no-repeat center; background-size: cover;">
        </div>
        <div class="list_notif_defi">
            <div class="notif_name">WAY</div>
            <ul>
                <li>
                    <p>{{notif.message}}</p>
                    <div class="notif_response">
                        <a class="refuse icon-min" ng-click="refuse(notif.blind_id, notif.id)"></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="clear"></div>
</div>