<div id="slider_how_to">
    <div class="slide">
        <div class="slide_in">
            <div class="slide_image">
                <img src="public/img/browser.png">
            </div>
            <div id="tooltip_1" class="tooltip right_left_top">
                <span id="fleche_1" class="fleche"></span>
                <h4>Timeline</h4>
                <p>
                    Cette time line, comme le nom l’indique, vous indique le temps qui vous est imparti pour répondre à la question.
                </p>
            </div>
            <div id="tooltip_2" class="tooltip right_left_bottom">
                <span id="fleche_2" class="fleche"></span>
                <h4>Barre de progression</h4>
                <p>
                    Cette barre de progression vous permet de savoir où vous en êtes dans la partie et de vérifier vos poins.
                </p>
            </div>
            <div id="tooltip_3" class="tooltip right_left_bottom">
                <span id="fleche_3" class="fleche"></span>
                <h4>Question</h4>
                <p>
                    Une question vous est posée en fonction du son qui est joué. Le but est d’y répondre!
                </p>
            </div>
            <div id="tooltip_4" class="tooltip right_left_bottom">
                <span id="fleche_4" class="fleche"></span>
                <h4>Réponses</h4>
                <p>
                    Vous avez le choix entre 6 réponses différentes, vous n’avez qu’à cliquer pendant le temps imparti
                </p>
            </div>
        </div>
    </div>
    <div class="slide">
        <div class="slide_in">
            <div class="slide_image">
                <img src="public/img/how_to_mobile.png">
            </div>
            <div id="tooltip_5" class="tooltip right_left_top">
                <span id="fleche_1" class="fleche"></span>
                <h4>Actualités</h4>
                <p>
                    Cette première page détecte directement votre profil et vous propose ainsi des actualités et bons plans adaptés particulièrelment à votre catégorie !
                </p>
            </div>
            <div id="tooltip_6" class="tooltip right_left_bottom">
                <span id="fleche_6" class="fleche"></span>
                <h4>Profil</h4>
                <p>
                    À tout moment vous pouvez consulter votre page profil et voir ainsi dans quel domaine vous devrez encore vous améliorer. Visualisez et des comparez ces scores avec vos amis afin de les mettre au défi!
                </p>
            </div>
            <div id="tooltip_7" class="tooltip right_left_bottom">
                <span id="fleche_7" class="fleche"></span>
                <h4>Articles</h4>
                <p>
                    Vous pouvez visualiser un article en partticulier et le partager sur facebook ou twitter si vous le souhaitez. Pour les lieux ces articles sont dotés d’une map qui pourra vous guider;.
                </p>
            </div>
        </div>
    </div>
</div>