@keyframes appear {
    0% {
        opacity: 0;
        transform: translate3d(0, 150%, 0);
    }
    85% {
        opacity: 1;
        transform: translate3d(0, -6%, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes play {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes scale {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes loader {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}