@media screen and (max-width: 1190px) {
    .wrap_site {
        width: 100%;
    }

    .logo {
        margin-left: 15px;
    }

    header .btn_facebook {
        margin-right: 15px;
    }

}

@media screen and (max-width: 961px) {

    .wrapper, .wrap_site {
        width: 100%;
    }

    .presentation .bloc_3 {
        width: 33%;
        padding: 0 20px;
    }

    .presentation .bloc_3 .bloc_in {
        width: 100%;
    }

    .presentation .bloc_3 .bloc_in .bloc_titre:after {
        display: none;
    }

    .showcase {
        padding-top: 100px;
    }


    .presentation:after {
        display: none;
    }

    .bx-viewport {
        width: auto!important;
    }

    .footer_left {
        margin-top: 40px;
    }

    .footer_right, .footer_left, .footer_center {
        width: 100%;
        float: none;
        text-align: center;
        margin-bottom: 40px;
    }

    .texte_show {
        padding-top: 0px;
    }


    /*********************************

    PAGE QUIZZ

    *********************************/

    #wrap_full.quizz_wrap {
        overflow: inherit;
        min-height: 1100px;
    }

    .logo_quizz {
        margin-left: 20px;
    }

    .avancement, .container_rep {
        width: 100%;
    }

    #container_question {
        height: auto;
        width: 100%;
        position: relative;
        margin: 0;
        top: 0;
        left: 0;
        padding: 20px;
    }

    .progress_music {
        width: 90%;
    }

    .reponse {
        width: 40%;
        margin: 5% 5%;
    }

    .reponse_titre {
        font-size: 15px;
    }

    .quizz_timeline {
        width: 100%;
    }

    .quizz_timeline:after {
        display: none;
    }

    .quizz_timeline .question {
        margin:  0 20px;
        margin-bottom: 20px;
    }

    .quizz_timeline .last_question {
        position: relative;
        right: 15px;
    }

    #wrap_full {
        overflow: inherit;
    }

    /*********************************

    PAGE QUIZZ

    *********************************/

    #wrap_full.quizz_wrap {
        min-height: 1100px;
    }

    #stats.hided, #profil {
        -webkit-transform: none;
        transform: none;
    }

    #stats .allStats {
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
        left: 0;
        margin: 0;
    }

    canvas {
        margin-left: 50px;
        margin-right: 50px;
        float: left;
    }

    .legendes { float:  right; margin-right: 50px; }

    #profil, #stats {
        position: relative;
        width: 100%;
        height: 40%;
    }

    #profil.on_right {
        transform: none;
        -webkit-transform: none;
    }

    #photo_profil {
        display: none!important;
    }

    #profil .infos_profil {
        position: relative;
        top: 0;
        left: 0;
        margin: 0;
    }

    .profil_citation {
        line-height: 30px;
    }

    .container_btn .btn {
        margin-bottom: 30px;
    }







}

@media screen and (max-width: 680px) {

    body h2 {
        font-size: 26px;
    }

    .presentation .bloc_3 {
        width: 100%;
        padding: 0;
    }

    .presentation .bloc_3 .bloc_in {
        width: 90%;
    }

    .showcase_profils {
        height: 820px;
    }

    .container_profils {
        width: 100%;
    }

    .profil {
        width: 40%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .profils_homme .profil:nth-child(4),
    .profils_femme .profil:nth-child(4) {
        margin-left: 2.5%;
    }

    .how_to p.explication {
        width: 100%;
        padding: 0 5%;
    }

    .texte_show {
        width: 100%;
        padding:  0 5%;
    }

    .btn_go_app  {
        width: 100%;
    }

    .btn_go_app .btn {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 30px;
    }

    .how_to {
        display: none;
    }


    /*********************************

    PAGE PROFIL

    *********************************/

    #wrap_full.wrap_profil {
        background: #34495e;
        min-height: 1400px;
    }

    .allStats {
        text-align: center;
    }

    #stats {
        height: auto;
    }

    #stats .legendes {
        margin: 0 auto;
        width: 200px;
        text-align: left;
        margin-top: 30px;
    }

    canvas {
        margin: 0 auto;
        float: none;
    }

    .legendes { float:  none; margin: 0 auto; }
    #profil .infos_profil {
        padding: 0;
    }

    #profil .infos_profil img {
        display: inline;
    }

    #profil .infos_profil h2 {
        width: 100%;
        font-size: 60px;
        margin-top: 20px;
    }

    .container_btn,  #profil .infos_profil {
        text-align: center;
        margin-top: 50px;
    }

}