.top_bar{
  background-color: #2f3854;
}
.top_bar .icon{
  color: white;
}
.top_bar .title{
  font-size: 2em;
  color: #e84e40;
}
.top_bar button{
  font-size: 2em;
}

.way-padding {
  padding: 0.1em;
}

/*
  CATEGORIES GOOD DEAL
*/

.sortie{
  background-color: #a62a28;
}
.mode{
  background-color: #1aa22a;
}
.style{
  background-color: #dd9a37;
}