.mal{
  color: #9e9e9e;
  span{
    margin-right: 10px;
    color: #2f3854;
  }
}
.female{
  color: #9e9e9e;
  span{
    margin-right: 10px;
    color: #e84e40;
  }
}
.menu .title{
  text-transform: uppercase;
  font-size: 1em;
}