<div id="wrap_full" class="defi_wrap" ng-controller="defiController as defiCtrl">
    <div class="wrap_site">
        <div class="logo_quizz" ui-sref="home">
            <img src="public/img/Logo.svg" width="50" height="50">
        </div>
        <div class="defi_container" ng-class="{'defi_fini': end == true}">
            <h2 class="defi_categorie">{{categoryDefi | uppercase}}</h2>
            <h3 class="defi_intitule">Qui est le plus {{categoryDefi}} d'entre nous ?</h3>
            <div class="versus">
                <div class="user user_left">
                    <div class="image_profil" style="background: url({{users.user_1.picture}}) no-repeat center; background-size: cover;">
                        <div class="user_point">
                            <div class="truc_anime"></div>
                            <span class="total_point" data-point="{{result.user_1}}"></span>
                        </div>
                    </div>
                    <div class="identite">
                        <span class="prenom">{{users.user_1.firstname}}</span>
                        <span class="nom">{{users.user_1.lastname}}</span>
                        <span class="nb_point" ng-show="display == true">{{result.user_1}}</span>
                        <p class="point" ng-show="display == true">Points</p>
                    </div>
                </div>
                <span class="vs_icon"></span>
                <div class="user user_right">
                    <div class="image_profil" style="background: url({{users.user_2.picture}}) no-repeat center; background-size: cover;">
                        <div class="user_point">
                            <div class="truc_anime"></div>
                            <span class="total_point" data-point="{{result.user_2}}"></span>
                        </div>
                    </div>
                    <div class="identite">
                        <span class="prenom">{{users.user_2.firstname}}</span>
                        <span class="nom">{{users.user_2.lastname}}</span>
                        <span class="nb_point" ng-show="display == true">{{result.user_2}}</span>
                        <p class="point" ng-show="display == true">Points</p>
                    </div>
                </div>
                <div class="clear"></div>
                <p class="phrase_fin" ng-show="endMessage == true && winner != 'NO_WINNER'">{{winner}} est {{determinant}} véritable <span>{{categoryDefi | capitalize}}</span> !</p>
                <p class="phrase_fin" ng-show="endMessage == true && winner == 'NO_WINNER'">Vous êtes autant <span>{{categoryDefi | capitalize}}</span> l'un que l'autre !</p>
            </div>
            <a class="btn begin_duel" ng-click="startQuizz()">Commencer le duel</a>
            <a ui-sref="profil" class="btn end_duel">Voir mon profil</a>
            <a ui-sref="defi" class="btn end_duel">Défier un pote</a>
        </div>
    </div>
</div>