<div id="wrap_full" class="defi_wrap">
    <div class="wrap_site">
        <div class="logo_quizz">
            <img src="public/img/Logo.svg" width="50" height="50">
        </div>
        <div class="defi_container"> <!-- defi_fini -->
            <h2 class="defi_categorie">BadBoy</h2>
            <h3 class="defi_intitule">Qui est le plus badboy d'entre nous ?</h3>
            <div class="versus">
                <div class="user user_left">
                    <div class="image_profil">
                        <div class="user_point">
                            <div class="truc_anime"></div>
                            <span class="total_point" data-point="16"></span>
                        </div>
                        <img src="public/img/image_fb.jpg">
                    </div>
                    <div class="identite">
                        <span class="prenom">Arthur</span>
                        <span class="nom">Mialon</span>
                        <span class="nb_point">16</span>
                        <p class="point">Points</p>
                    </div>
                </div>
                <span class="vs_icon"></span>
                <div class="user user_right">
                    <div class="image_profil">
                        <div class="user_point">
                            <div class="truc_anime"></div>
                            <span class="total_point" data-point="12"></span>
                        </div>
                        <img src="public/img/image_fb.jpg">
                    </div>
                    <div class="identite">
                        <span class="prenom">Arthur</span>
                        <span class="nom">Mialon</span>
                        <span class="nb_point">12</span>
                        <p class="point">Points</p>
                    </div>
                </div>
                <div class="clear"></div>
                <p class="phrase_fin">Arthur Mialon est un véritable <span>Bad Boy</span> !</p>
            </div>
            <a href="quizz.html" class="btn begin_duel">Commencer le duel</a>
            <a ui-sref="profil" class="btn end_duel">Voir mon profil</a>
            <a ui-sref="defi" class="btn end_duel">Défier un pote</a>
        </div>
    </div>
</div>

<!-- JS -->
<script type="text/javascript-lazy" src="public/js/style/main.js"></script>