<header>
    <div class="wrap_site">
        <div class="logo" ui-sref="home">
            <img src="public/img/Logo.svg" alt="Logo de Way">
        </div>
        <div class="login">
            <div class="btn_facebook" ng-show="logged === false">
                <a ng-click="login()" title="Connexion à Way via facebook">Connexion</a>
            </div>
            <div class="admin_bar" ng-show="logged === true">
                <div class="profil_bar">
                    <div class="ico_profil"
                         ng-class="{
                            'geek'      : (user.category_name == 'geek'     && user.sex == 'male'),
                            'geekette'  : (user.category_name == 'geekette'     && user.sex == 'female'),
                            'dragqueen' : user.category_name == 'dragqueen',
                            'hippie'    : (user.category_name == 'hippie'   && user.sex == 'female'),
                            'hipster'   : (user.category_name == 'hipster'   && user.sex == 'male'),
                            'badboy'    : user.category_name == 'badboy',
                            'keke'      : user.category_name == 'keke',
                            'barbie'    : user.category_name == 'barbie',
                            'badgirl'   : user.category_name == 'badgirl',
                            'fleurbleue': user.category_name == 'fleurbleue'
                         }"
                    ></div>
                    <span class="nom_profil" ui-sref="profil">{{user.name}}</span>
                    <a
                        ng-controller="notificationController as notificationCtrl"
                        href="#"
                        class="go_notif icon-bell"
                        id="go_notif"
                        ng-class="{'new-notification': newNotification === true}"
                        ng-click="newNotification = false"
                        title="Voir les notifications"></a>
                    <a ng-click="logout()" class="go_logout icon-logout"></a>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
                <div class="notifications" id="notifications" ng-controller="notificationController as notificationCtrl">
                    <h3>Notifications</h3>
                    <notification></notification>
                </div>
            </div>
        </div>

        <div class="clear"></div>
    </div>
</header>

<div id="showcase" class="parallax showcase">
    <div class="texte_show">
        <h1><img src="public/img/Way.svg" alt="WAY"></h1>
        <p>
            Way est un test de personnalité. À travers un blind-test, découvrez votre profil et défiez vos amis dans la catégorie de votre choix. « Être ou ne pas être telle est la question ».
        </p>
    </div>
    <div class="btn_go_app">
        <a ui-sref="letsgo" class="btn" title="Découvrir votre profil">Quel est mon profil ?</a>
        <a ui-sref="choose" class="btn" title="Défier un ami">Je défie un pote</a>
    </div>
</div>
<div class="presentation">
    <div class="wrapper">
        <div class="bloc_3">
            <div class="bloc_in">
                <div class="bloc_image">
                    <img src="public/img/brain.png" alt="Découvre ta personnalité">
                </div>
                <div class="bloc_titre">
                    <h3>Découvrez votre personnalité</h3>
                </div>
                <div class="bloc_description">
                    <p>
                        Geek, Hipster ou Barbie, découvrez à travers un bind-test votre veritable personnalité. Qui êtes-vous dans cette société remplie de regards ?
                    </p>
                </div>
            </div>
        </div>
        <div class="bloc_3">
            <div class="bloc_in">
                <div class="bloc_image">
                    <img src="public/img/boxe.png" alt="Compare toi à tes amis">
                </div>
                <div class="bloc_titre">
                    <h3>Comparez-vous à vos amis</h3>
                </div>
                <div class="bloc_description">
                    <p>
                        Comparez vos connaissances dans un domaine choisi avec un de vos amis. Lequel de vous deux sera le meilleur? À vous de le découvrir !
                    </p>
                </div>
            </div>
        </div>
        <div class="bloc_3">
            <div class="bloc_in">
                <div class="bloc_image">
                    <img src="public/img/atom.png" alt="Test tes connaissances">
                </div>
                <div class="bloc_titre">
                    <h3>Testez vos connaissances</h3>
                </div>
                <div class="bloc_description">
                    <p>
                        Éprouvez votre culture dans chacun des domaines. Que ce soit d’un point de vue musical, cinématographique ou publicitaire, testez-vous ! 
                    </p>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="how_to">
    <h2>Comment ça marche ?</h2>
    <p class="explication">
        Que vous choisissiez de tester votre personnalité ou de vous comparer à un ami vous devez faire un blind test de 20 questions. Six réponses vous sont alors proposées par question, à vous de trouver la bonne. Une fois fini ce test, vous pouvez enfin découvrir votre profil ! Une application mobile est à disposition, vous donnant accès à des bons plans ainsi qu’à des tendances liés à votre profil. 
    </p>

    <slide></slide>

</div>
<div class="showcase_profils">
    <h2>Nos différents profils</h2>
    <div class="btn_profils">
        <span id="homme" class="btn_profil btn_homme active">Homme</span>
        <span id="femme" class="btn_profil btn_femme">Femme</span>
    </div>
    <div class="container_profils">
        <div  id="profils_homme" class="profils_homme anim">
            <div class="profil">
                <div class="profil_image">
                    <img src="public/img/profils/geek.svg" alt="profil geek">
                </div>
                <span class="profil_name">Geek</span>
            </div>
            <div class="profil">
                <div class="profil_image">
                    <img src="public/img/profils/guitar.svg" alt="profil badboy">
                </div>
                <span class="profil_name">Badboy</span>
            </div>
            <div class="profil">
                <div class="profil_image">
                    <img src="public/img/profils/hypster.svg" alt="profil hipster">
                </div>
                <span class="profil_name">hipster</span>
            </div>
            <div class="profil">
                <div class="profil_image">
                    <img src="public/img/profils/dragqueen.svg" alt="profil dragqueen">
                </div>
                <span class="profil_name">drag queen</span>
            </div>
            <div class="profil">
                <div class="profil_image">
                    <img src="public/img/profils/keke.svg" alt="profil keke">
                </div>
                <span class="profil_name">keke</span>
            </div>

            <div class="clear"></div>
        </div>
        <div id="profils_femme" class="profils_femme">
            <div class="profil">
                <div class="profil_image">
                    <img src="public/img/profils/badgirl.svg" alt="profil badgirl">
                </div>
                <span class="profil_name">badgirl</span>
            </div>
            <div class="profil">
                <div class="profil_image">
                    <img src="public/img/profils/geekette.svg" alt="profil geekette">
                </div>
                <span class="profil_name">geekette</span>
            </div>
            <div class="profil">
                <div class="profil_image">
                    <img src="public/img/profils/hippie.svg" alt="profil hippie">
                </div>
                <span class="profil_name">hippie</span>
            </div>
            <div class="profil">
                <div class="profil_image">
                    <img src="public/img/profils/fleurbleue.svg" alt="profil fleurbleu">
                </div>
                <span class="profil_name">Fleur bleue</span>
            </div>
            <div class="profil">
                <div class="profil_image">
                    <img src="public/img/profils/barbie.svg" alt="profil barbie">
                </div>
                <span class="profil_name">barbie</span>
            </div>

            <div class="clear"></div>
        </div>
    </div>
</div>

<footer>
    <div class="wrap_site">
        <div class="footer_left">
            <p>Télécharger l'extension sur votre mobile</p>
            <a href="#" class="app_store" title="télécharger l'application sur l'AppStore"></a>
            <a href="#" class="play_store" title="télécharger l'application sur le PlayStore"></a>
        </div>
        <div class="footer_center">
            <p class="copyright">Copyright 2014</p>
            <img src="public/img/Logo.svg" alt="logo de Way">
        </div>
        <div class="footer_right">
            <p>Retrouvez nous sur</p>
            <a href="#" class="social icon-twitter" title="Compte Twitter"></a>
            <a href="#" class="social icon-facebook" title="Page Facebook"></a>
            <a href="https://github.com/Mathew78540/way/" class="social icon-github" title="Compte Github"></a>
        </div>
        <div class="clear"></div>
    </div>
</footer>

<!-- JS -->
<script type="text/javascript-lazy" src="public/js/style/home.js"></script>