<header>
    <div class="wrap_site">
        <div class="logo" ui-sref="home">
            <img src="public/img/Logo.svg" alt="Logo de Way">
        </div>
        <div class="login">
            <div class="btn_facebook" ng-show="logged === false">
                <a ng-click="login()">Connexion</a>
            </div>
            <div class="admin_bar" ng-show="logged === true">
                <div class="profil_bar">
                    <div class="ico_profil"
                         ng-class="{
                            'geek'      : (user.category_name == 'geek'     && user.sex == 'male'),
                            'geekette'  : (user.category_name == 'geekette'     && user.sex == 'female'),
                            'dragqueen' : user.category_name == 'dragqueen',
                            'hippie'    : (user.category_name == 'hippie'   && user.sex == 'female'),
                            'hipster'   : (user.category_name == 'hipster'   && user.sex == 'male'),
                            'badboy'    : user.category_name == 'badboy',
                            'keke'      : user.category_name == 'keke',
                            'barbie'    : user.category_name == 'barbie',
                            'badgirl'   : user.category_name == 'badgirl',
                            'fleurbleue': user.category_name == 'fleurbleue'
                         }"
                    ></div>
                    <span class="nom_profil" ui-sref="profil">{{user.name}}</span>
                    <a
                        ng-controller="notificationController as notificationCtrl"
                        href="#"
                        class="go_notif icon-bell"
                        id="go_notif"
                        ng-class="{'new-notification': newNotification === true}"
                        ng-click="newNotification = false"></a>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
                <div class="notifications" id="notifications" ng-controller="notificationController as notificationCtrl">
                    <h3>Notifications</h3>
                    <div class="notification" ng-repeat="notif in notifications">

                        <div ng-if="notif.type == 'START_DUEL'">
                            <div class="notif_photo" style="background: url({{notif.picture}}) no-repeat center; background-size: cover;">
                            </div>
                            <div class="list_notif_defi">
                                <div class="notif_name">{{notif.firstname}}</div>
                                <ul>
                                    <li>
                                        <p>Hey {{notif.name}} ! {{notif.firstname}} te défi !</p>
                                        <div class="notif_response">
                                            <a class="accept icon-plus" ng-click="accept(notif.id, notif.blind_id, notif.category, notif.facebook_id, notif.friend_id)"></a>
                                            <a class="refuse icon-min" ng-click="refuse(notif.blind_id, notif.id)"></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div ng-if="notif.type == 'END_DUEL'">
                            <div class="notif_photo" style="background: url({{notif.picture}}) no-repeat center; background-size: cover;">
                            </div>
                            <div class="list_notif_defi">
                                <div class="notif_name">{{notif.firstname}}</div>
                                <ul>
                                    <li>
                                        <p>Clique sur le plus pour voir le resultat !</p>
                                        <div class="notif_response">
                                            <a class="accept icon-plus" ng-click="showResult(notif.id, notif.blind_id, notif.category, notif.facebook_id, notif.friend_id)"></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div ng-if="notif.type == 'MESSAGE'">
                            <div class="notif_photo" style="background: url('public/img/Logo.svg') no-repeat center; background-size: cover;">
                            </div>
                            <div class="list_notif_defi">
                                <div class="notif_name">WAY</div>
                                <ul>
                                    <li>
                                        <p>{{notif.message}}</p>
                                        <div class="notif_response">
                                            <a class="refuse icon-min" ng-click="refuse(notif.blind_id, notif.id)"></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clear"></div>
    </div>
</header>

<div id="showcase" class="parallax showcase">
    <div class="texte_show">
        <h1><img src="public/img/Way.svg" alt="WAY"></h1>
        <p>
            Way est un test de personnalité. À travers un blind-test, découvrez votre profil et défiez vos amis dans la catégorie de votre choix. « Etre ou ne pas être telle est la question ».
        </p>
    </div>
    <div class="btn_go_app">
        <a ui-sref="letgo" class="btn">Quel est mon profil ?</a>
        <a ui-sref="choose" class="btn">Je défie un pote</a>
    </div>
</div>
<div class="presentation">
    <div class="wrapper">
        <div class="bloc_3">
            <div class="bloc_in">
                <div class="bloc_image">
                    <img src="public/img/brain.png" alt="Découvre ta personnalité">
                </div>
                <div class="bloc_titre">
                    <h3>Découvre ta personnalité</h3>
                </div>
                <div class="bloc_description">
                    <p>
                        Geek, Hipster ou Barbie, découvrez à travers un bind-test votre veritable personnalité. Qui êtes-vous dans cette société remplie de regards ?
                    </p>
                </div>
            </div>
        </div>
        <div class="bloc_3">
            <div class="bloc_in">
                <div class="bloc_image">
                    <img src="public/img/boxe.png" alt="Compare toi à tes amis">
                </div>
                <div class="bloc_titre">
                    <h3>Compare toi à tes amis</h3>
                </div>
                <div class="bloc_description">
                    <p>
                        Comparez vos connaissances dans un domaine choisi avec un de vos amis. Lequel de vous deux sera le meilleur? À vous de le découvrir !
                    </p>
                </div>
            </div>
        </div>
        <div class="bloc_3">
            <div class="bloc_in">
                <div class="bloc_image">
                    <img src="public/img/atom.png" alt="Test tes connaissances">
                </div>
                <div class="bloc_titre">
                    <h3>Test tes connaissances</h3>
                </div>
                <div class="bloc_description">
                    <p>
                        Éprouvez votre culture dans chacun des domaines. Que ce soit d’un point de vue musical, cinématographique ou publicitaire, testez-vous ! 
                    </p>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="how_to">
    <h2>Comment ça marche ?</h2>
    <p class="explication">
        Que vous choisissiez de tester votre personnalité ou de vous comparer à un ami vous devez faire un blind test de 20 questions. Six réponses vous sont alors proposées par question, à vous de trouver la bonne. Une fois fini ce test, vous pouvez enfin découvrir votre profil ! Une application mobile est à disposition, vous donnant accès à des bons plans ainsi qu’à des tendances liés à votre profil. 
    </p>

    <div id="slider_how_to">
        <div class="slide">
            <div class="slide_in">
                <div class="slide_image">
                    <img src="public/img/browser.png">
                </div>
                <div id="tooltip_1" class="tooltip right_left_top">
                    <span id="fleche_1" class="fleche"></span>
                    <h4>Timeline</h4>
                    <p>
                        Cette time line, comme le nom l’indique, vous indique le temps qui vous est imparti pour répondre à la question.
                    </p>
                </div>
                <div id="tooltip_2" class="tooltip right_left_bottom">
                    <span id="fleche_2" class="fleche"></span>
                    <h4>Barre de progression</h4>
                    <p>
                        Cette barre de progression vous permet de savoir où vous en êtes dans la partie et de vérifier vos poins.
                    </p>
                </div>
                <div id="tooltip_3" class="tooltip right_left_bottom">
                    <span id="fleche_3" class="fleche"></span>
                    <h4>Question</h4>
                    <p>
                        Une question vous est posée en fonction du son qui est joué. Le but est d’y répondre!
                    </p>
                </div>
                <div id="tooltip_4" class="tooltip right_left_bottom">
                    <span id="fleche_4" class="fleche"></span>
                    <h4>Réponses</h4>
                    <p>
                        Vous avez le choix entre 4 réponses différentes, vous n’avez qu’à cliquer pendant le temps imparti
                    </p>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="slide_in">
                <div class="slide_image">
                    <img src="public/img/how_to_mobile.png">
                </div>
                <div id="tooltip_5" class="tooltip right_left_top">
                    <span id="fleche_1" class="fleche"></span>
                    <h4>Actualités</h4>
                    <p>
                        Cette première page détecte directement votre profil et vous propose ainsi des actualités et bons plans adaptés particulièrelment à votre catégorie !
                    </p>
                </div>
                <div id="tooltip_6" class="tooltip right_left_bottom">
                    <span id="fleche_6" class="fleche"></span>
                    <h4>Profil</h4>
                    <p>
                        À tout moment vous pouvez consulter votre page profil et voir ainsi dans quel domaine vous devrez encore vous améliorer. Visualisez et des comparez ces scores avec vos amis afin de les mettre au défi!
                    </p>
                </div>
                <div id="tooltip_7" class="tooltip right_left_bottom">
                    <span id="fleche_7" class="fleche"></span>
                    <h4>Articles</h4>
                    <p>
                        Vous pouvez visualiser un article en partticulier et le partager sur facebook ou twitter si vous le souhaitez. Pour les lieux ces articles sont dotés d’une map qui pourra vous guider;.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="showcase_profils">
    <h2>Nos différents profils</h2>
    <div class="btn_profils">
        <span id="homme" class="btn_profil btn_homme active">Homme</span>
        <span id="femme" class="btn_profil btn_femme">Femme</span>
    </div>
    <div class="container_profils">
        <div  id="profils_homme" class="profils_homme anim">
            <div class="profil">
                <div class="profil_image">
                    <img src="public/img/profils/geek.svg" alt="profil geek">
                </div>
                <span class="profil_name">Geek</span>
            </div>
            <div class="profil">
                <div class="profil_image">
                    <img src="public/img/profils/guitar.svg" alt="profil badboy">
                </div>
                <span class="profil_name">Badboy</span>
            </div>
            <div class="profil">
                <div class="profil_image">
                    <img src="public/img/profils/hypster.svg" alt="profil hipster">
                </div>
                <span class="profil_name">hipster</span>
            </div>
            <div class="profil">
                <div class="profil_image">
                    <img src="public/img/profils/dragqueen.svg" alt="profil dragqueen">
                </div>
                <span class="profil_name">drag queen</span>
            </div>
            <div class="profil">
                <div class="profil_image">
                    <img src="public/img/profils/keke.svg" alt="profil keke">
                </div>
                <span class="profil_name">keke</span>
            </div>

            <div class="clear"></div>
        </div>
        <div id="profils_femme" class="profils_femme">
            <div class="profil">
                <div class="profil_image">
                    <img src="public/img/profils/badgirl.svg" alt="profil badgirl">
                </div>
                <span class="profil_name">badgirl</span>
            </div>
            <div class="profil">
                <div class="profil_image">
                    <img src="public/img/profils/geekette.svg" alt="profil geekette">
                </div>
                <span class="profil_name">geekette</span>
            </div>
            <div class="profil">
                <div class="profil_image">
                    <img src="public/img/profils/hippie.svg" alt="profil hippie">
                </div>
                <span class="profil_name">hippie</span>
            </div>
            <div class="profil">
                <div class="profil_image">
                    <img src="public/img/profils/fleurbleue.svg" alt="profil fleurbleu">
                </div>
                <span class="profil_name">Fleur bleue</span>
            </div>
            <div class="profil">
                <div class="profil_image">
                    <img src="public/img/profils/barbie.svg" alt="profil barbie">
                </div>
                <span class="profil_name">barbie</span>
            </div>

            <div class="clear"></div>
        </div>
    </div>
</div>

<footer>
    <div class="wrap_site">
        <div class="footer_left">
            <p>Télécharger l'extension sur votre mobile</p>
            <a href="#" class="app_store"></a>
            <a href="#" class="play_store"></a>
        </div>
        <div class="footer_center">
            <p class="copyright">Copyright 2014</p>
            <img src="public/img/Logo.svg" alt="logo de way">
        </div>
        <div class="footer_right">
            <p>Retrouvez nous sur</p>
            <a href="#" class="social icon-twitter"></a>
            <a href="#" class="social icon-facebook"></a>
            <a href="https://github.com/Mathew78540/way/" class="social icon-github"></a>
        </div>
        <div class="clear"></div>
    </div>
</footer>

<!-- JS -->
<script type="text/javascript-lazy" src="public/js/style/jquery.bxslider.min.js"></script>
<script type="text/javascript-lazy" src="public/js/style/main.js"></script>