<header>
    <div class="wrap_site">
        <div class="logo">
            <img src="public/img/Logo.svg" alt="Logo de Way">
        </div>
        <div class="login">
            <div class="btn_facebook" ng-show="logged === false">
                <a ng-click="login()">Connexion</a>
            </div>
            <div class="admin_bar" ng-show="logged === true">
                <div class="profil_bar">
                    <div class="ico_profil"
                         ng-class="{
                            'geek'      : (user.category_name == 'geek'     && user.sex == 'male'),
                            'geekette'  : (user.category_name == 'geek'     && user.sex == 'female'),
                            'dragqueen' : user.category_name == 'dragqueen',
                            'hippie'    : (user.category_name == 'hippie'   && user.sex == 'female'),
                            'hipster'   : (user.category_name == 'hippie'   && user.sex == 'male'),
                            'badboy'    : user.category_name == 'badboy',
                            'keke'      : user.category_name == 'keke',
                            'barbie'    : user.category_name == 'barbie',
                            'badgirl'   : user.category_name == 'badgirl',
                            'fleurbleue': user.category_name == 'fleurbleue'
                         }"
                    ></div>
                    <span class="nom_profil">{{user.name}}</span>
                    <a href="#" class="go_notif icon-bell" id="go_notif"></a>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
                <div class="notifications" id="notifications" ng-controller="notificationController as notificationCtrl">
                    <h3>Notifications</h3>
                    <div class="notification" ng-repeat="notif in notifications">
                        <div class="notif_photo" style="background: url({{notif.picture}}) no-repeat center; background-size: cover;">
                        </div>
                        <div class="list_notif_defi">
                            <div class="notif_name">{{notif.firstname}}</div>
                            <ul>
                                <li>
                                    <p>Hey {{notif.name}} ! {{notif.firstname}} te défi !</p>
                                    <div class="notif_response">
                                        <a class="accept icon-plus" data-id="{{notif.friend_id}}" ng-click="accept($event)"></a>
                                        <a class="refuse icon-min" data-id="{{notif.friend_id}}" ng-click="refuse($event)"></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clear"></div>
    </div>
</header>

<div id="showcase" class="parallax showcase">
    <div class="texte_show">
        <h1><img src="public/img/Way.svg" alt="WAY"></h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </p>
    </div>
    <div class="btn_go_app">
        <a ui-sref="letgo" class="btn">Quel est ton profil ?</a>
        <a ui-sref="defi" class="btn">Je défie un pote</a>
    </div>
</div>
<div class="presentation">
    <div class="wrapper">
        <div class="bloc_3">
            <div class="bloc_in">
                <div class="bloc_image">
                    <img src="public/img/brain.png" alt="Découvre ta personnalité">
                </div>
                <div class="bloc_titre">
                    <h3>Découvre ta personnalité</h3>
                </div>
                <div class="bloc_description">
                    <p>
                        Lorem ipsum eres eos qui ratione voluptaora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.vljnsqldvnyfludlutdtdtudttd
                    </p>
                </div>
            </div>
        </div>
        <div class="bloc_3">
            <div class="bloc_in">
                <div class="bloc_image">
                    <img src="public/img/boxe.png" alt="Compare toi à tes amis">
                </div>
                <div class="bloc_titre">
                    <h3>Compare toi à tes amis</h3>
                </div>
                <div class="bloc_description">
                    <p>
                        Lorem ipsum eres eos qui ratione voluptaora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.vljnsqldvnyfludlutdtdtudttd
                    </p>
                </div>
            </div>
        </div>
        <div class="bloc_3">
            <div class="bloc_in">
                <div class="bloc_image">
                    <img src="public/img/atom.png" alt="Test tes connaissances">
                </div>
                <div class="bloc_titre">
                    <h3>Test tes connaissances</h3>
                </div>
                <div class="bloc_description">
                    <p>
                        Lorem ipsum eres eos qui ratione voluptaora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.vljnsqldvnyfludlutdtdtudttd
                    </p>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="how_to">
    <h2>Comment ça marche ?</h2>
    <p class="explication">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
    </p>

    <div id="slider_how_to">
        <div class="slide">
            <div class="slide_in">
                <div class="slide_image">
                    <img src="public/img/browser.jpg">
                </div>
                <div id="tooltip_1" class="tooltip right_left_top">
                    <span id="fleche_1" class="fleche"></span>
                    <h4>Timeline</h4>
                    <p>
                        Cette time line, comme le nom l’indique, vous indique le temps qui vous est imparti pour répondre à la question.
                    </p>
                </div>
                <div id="tooltip_2" class="tooltip right_left_bottom">
                    <span id="fleche_2" class="fleche"></span>
                    <h4>Barre de progression</h4>
                    <p>
                        Cette barre de progression vous permet de savoir où vous en êtes dans la partie et de vérifier vos poins.
                    </p>
                </div>
                <div id="tooltip_3" class="tooltip right_left_bottom">
                    <span id="fleche_3" class="fleche"></span>
                    <h4>Question</h4>
                    <p>
                        Une question vous est posée en fonction du son qui est joué. Le but est d’y répondre!
                    </p>
                </div>
                <div id="tooltip_4" class="tooltip right_left_bottom">
                    <span id="fleche_4" class="fleche"></span>
                    <h4>Réponses</h4>
                    <p>
                        Vous avez le choix entre 4 réponses différentes, vous n’avez qu’à cliquer pendant le temps imparti
                    </p>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="slide_in">
                <div class="slide_image">
                    <img src="public/img/browser.jpg">
                </div>
                <div id="tooltip_1" class="tooltip right_left_top">
                    <span id="fleche_1" class="fleche"></span>
                    <h4>Timeline</h4>
                    <p>
                        Cette time line, comme le nom l’indique, vous indique le temps qui vous est imparti pour répondre à la question.
                    </p>
                </div>
                <div id="tooltip_2" class="tooltip right_left_bottom">
                    <span id="fleche_2" class="fleche"></span>
                    <h4>Barre de progression</h4>
                    <p>
                        Cette barre de progression vous permet de savoir où vous en êtes dans la partie et de vérifier vos poins.
                    </p>
                </div>
                <div id="tooltip_3" class="tooltip right_left_bottom">
                    <span id="fleche_3" class="fleche"></span>
                    <h4>Question</h4>
                    <p>
                        Une question vous est posée en fonction du son qui est joué. Le but est d’y répondre!
                    </p>
                </div>
                <div id="tooltip_4" class="tooltip right_left_bottom">
                    <span id="fleche_4" class="fleche"></span>
                    <h4>Réponses</h4>
                    <p>
                        Vous avez le choix entre 4 réponses différentes, vous n’avez qu’à cliquer pendant le temps imparti
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="showcase_profils">
    <h2>Nos différents profils</h2>
    <div class="btn_profils">
        <span id="homme" class="btn_profil btn_homme active">Homme</span>
        <span id="femme" class="btn_profil btn_femme">Femme</span>
    </div>
    <div class="container_profils">
        <div  id="profils_homme" class="profils_homme anim">
            <div class="profil">
                <div class="profil_image">
                    <img src="public/img/profils/geek.svg" alt="profil geek">
                </div>
                <span class="profil_name">Geek</span>
            </div>
            <div class="profil">
                <div class="profil_image">
                    <img src="public/img/profils/guitar.svg" alt="profil badboy">
                </div>
                <span class="profil_name">Badboy</span>
            </div>
            <div class="profil">
                <div class="profil_image">
                    <img src="public/img/profils/hypster.svg" alt="profil hipster">
                </div>
                <span class="profil_name">hipster</span>
            </div>
            <div class="profil">
                <div class="profil_image">
                    <img src="public/img/profils/dragqueen.svg" alt="profil dragqueen">
                </div>
                <span class="profil_name">drag queen</span>
            </div>
            <div class="profil">
                <div class="profil_image">
                    <img src="public/img/profils/keke.svg" alt="profil keke">
                </div>
                <span class="profil_name">keke</span>
            </div>

            <div class="clear"></div>
        </div>
        <div id="profils_femme" class="profils_femme">
            <div class="profil">
                <div class="profil_image">
                    <img src="public/img/profils/badgirl.svg" alt="profil badgirl">
                </div>
                <span class="profil_name">badgirl</span>
            </div>
            <div class="profil">
                <div class="profil_image">
                    <img src="public/img/profils/geekette.svg" alt="profil geekette">
                </div>
                <span class="profil_name">geekette</span>
            </div>
            <div class="profil">
                <div class="profil_image">
                    <img src="public/img/profils/hippie.svg" alt="profil hippie">
                </div>
                <span class="profil_name">hippie</span>
            </div>
            <div class="profil">
                <div class="profil_image">
                    <img src="public/img/profils/fleurbleue.svg" alt="profil fleurbleu">
                </div>
                <span class="profil_name">Fleur bleue</span>
            </div>
            <div class="profil">
                <div class="profil_image">
                    <img src="public/img/profils/barbie.svg" alt="profil barbie">
                </div>
                <span class="profil_name">barbie</span>
            </div>

            <div class="clear"></div>
        </div>
    </div>
</div>

<footer>
    <div class="wrap_site">
        <div class="footer_left">
            <p>Télécharger l'extension sur votre mobile</p>
            <a href="#" class="app_store">
                <img src="public/img/app_store.png" alt="logo app store">
            </a>
            <a href="#" class="play_store">
                <img src="public/img/play_store.png" alt="logo play store">
            </a>
        </div>
        <div class="footer_center">
            <p class="copyright">Copyright 2014 HETIC</p>
            <img src="public/img/Logo.svg" alt="logo de way">
        </div>
        <div class="footer_right">
            <p>Retrouvez nous sur</p>
            <a href="#" class="social twitter"></a>
            <a href="#" class="social facebook"></a>
            <a href="#" class="social github"></a>
            <a href="#" class="social behance"></a>
        </div>
        <div class="clear"></div>
    </div>
</footer>

<!-- JS -->
<script type="text/javascript-lazy" src="public/js/style/main.js"></script>