<div id="wrap_full" class="quizz_wrap">
    <div class="go_test">
        <h1><img src="public/img/Way.svg" alt="WAY"></h1>
        <p>
            Vous êtes sur le point de commencer votre <b>test de personalité.</b> 20 questions vous seront posées. Pour chacune d’elles vous aurez 10 secondes pour y répondre. Une seule bonne réponse est valable pour chaque question !
            <br>
            Ce test est ce que l’on appelle courrement un <b>«blind test»</b>, il est donc obligatoire d’activer le <b>son</b> de votre ordinateur !
        </p>
        <a class="btn btn_start_test" href="quizz.html">Let's start the test</a>
    </div>
</div>

<!-- JS -->
<script type="text/javascript-lazy" src="public/js/style/main.js"></script>