<div id="wrap_full" class="wrap_profil" ng-controller="profilController as profilCtrl">
    <div class="profil_top">
        <div class="logo" ui-sref="home">
            <img src="public/img/Logo.svg" alt="Logo de way">
        </div>
        <div id="name_user" class="name_user hided">
            <span class="prenom">{{user.firstname}}</span>
            <span class="nom">{{user.lastname}}</span>
        </div>
    </div>
    <div id="stats" class="hided">
        <div class="allStats">
            <canvas id="chart" width="400" height="400"></canvas>
            <div class="legendes">
                <div class="legende" ng-repeat="(key,val) in userInformations.total">
                    <span class="carre_color {{colors[$index].color}}"></span>
                    <p>{{colors[$index].category}}</p>
                </div>
            </div>
        </div>
    </div>
    <div id="profil" class="on_right">
        <div class="infos_profil">
            <img ng-src="public/img/profils/{{userInformations.profil}}2.svg" width="82">
            <h2 class="profil_title">{{userInformations.profil | uppercase}}</h2>
            <p class="profil_citation">
                «When Life Gives You Questions, Google has Answers»
            </p>
            <div class="container_btn">
                <a ui-sref="home" class="btn">Page d'accueil</a>
                <a ui-sref="choose" class="btn">Défier un ami</a>
                <a ui-sref="letgo" class="btn">Recommencer</a>
            </div>
        </div>
    </div>
    <div id="photo_profil" class="photo_{{user.category_name}}"></div>
</div>

<!-- JS -->
<script type="text/javascript-lazy" src="public/js/style/main.js"></script>
<script type="text/javascript-lazy" src="public/js/style/chart.min.js"></script>
