<div id="wrap_full" class="quizz_wrap" ng-controller="quizzController as quizzCtrl">
    <div class="wrap_site">
        <div class="logo_quizz">
            <img src="public/img/Logo.svg" width="50" height="50" ui-sref="home">
        </div>
        <div class="container_question_top">
            <span class="question_top">Question {{currentQuestion + 1}}</span>
        </div>
        <div id="container_question">
            <h2 class="title_question">{{questions[currentQuestion].question.name}}</h2>

            <div class="avancement">
                <div class="progress_music">
                    <div class="progress" style="width: {{percentCountDown}}%"></div>
                </div>
                <span class="duree">{{countDown}}s</span>
                <div class="clear"></div>
                <player src="{{path+'/'+questions[currentQuestion].question.file | trusted}}"></player>
            </div>

            <div class="container_rep">
                <div class="reponse"
                     ng-repeat="question in questions[currentQuestion].anwsers"
                     ng-click="newQuestion($index)">
                    <span class="checked"></span>
                    <div class="mask"></div>
                    <img ng-src="{{path+'/'+question.file}}">
                    <h3 class="reponse_titre">{{question.answer}}</h3>
                </div>
                <div class="clear"></div>
            </div>

            <div class="quizz_timeline">
                <span ng-repeat="response in responses">
                     <span
                        ng-show="$index <= 18"
                        class="question"
                        ng-class="{'win': response.value == 1, 'fail': response.value == 0}">
                     </span>
                     <span
                        ng-show="$index == 19"
                        class="last_question"
                        ng-class="{'win white': response.value == 1, 'fail white': response.value == 0}">Terminé
                     </span>
                </span>
                <div class="clear"></div>
            </div>
        </div>
    </div>"
</div>

<!-- JS -->
<script type="text/javascript-lazy" src="public/js/style/quizz.js"></script>