<div class="modal">

    <!-- Header -->
    <ion-header-bar class="top_bar">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <h1 class="title icon icon-way-logo"></h1>
        <button ng-controller="categoryController as categoryCtrl"
                class="button button-icon icon icon-way-logo-{{getCategory()}}"></button>
    </ion-header-bar>

    <!-- Content -->
    <ion-content class="content" ng-controller="homeController as homeCtrl" ng-show="ready">

        <!-- Primary Article -->
        <div class="row section_primary" >
            <div class="col">
                <a href="#/app/gooddeal/{{dealPrimary.id}}" nav-clear menu-close>
                    <article>
                        <div class="category {{dealPrimary.section}}">{{dealPrimary.section | uppercase}}</div>
                        <p>{{dealPrimary.name | limitTo:30}}</p>
                        <img ng-src="http://wayapi.mathieuletyrant.com/{{dealPrimary.img}}" alt="" width="100%" height="auto"/>
                    </article>
                </a>
            </div>
        </div>

        <!-- Others Articles -->
        <div class="row section_second">
            <!-- Left Col -->
            <div class="col">

                <!-- Article -->
                <a href="#/app/gooddeal/{{deal.id}}" ng-repeat="deal in deals" ng-hide="$odd">

                    <div class="informations">
                        <div class="category {{deal.section}}">{{deal.section}}</div>
                        <p>{{deal.name | limitTo:20}}</p>
                    </div>

                    <img ng-src="http://wayapi.mathieuletyrant.com/{{deal.img}}" alt=""/>
                </a>

            </div>

            <!-- Right Col -->
            <div class="col">

                <!-- Article -->
                <a href="#/app/gooddeal/{{deal.id}}" ng-repeat="deal in deals" ng-hide="$even">

                    <div class="informations">
                        <div class="category {{deal.section}}">{{deal.section}}</div>
                        <p>{{deal.name | limitTo:20}}</p>
                    </div>

                    <img ng-src="http://wayapi.mathieuletyrant.com/{{deal.img}}" alt=""/>
                </a>

            </div>
        </div>

    </ion-content>
</div>