<div class="modal">

    <!-- Header -->
    <ion-header-bar class="top_bar">
        <h1 class="title icon icon-way-logo"></h1>
        <div class="button button-icon icon icon-way-logo-geek"></div>
    </ion-header-bar>

    <!-- Content -->
    <ion-content class="content">

        <!-- Primary Article -->
        <div class="row section_primary">
           <div class="col">
               <a href="#/app/connexion" nav-clear menu-close>
                   <article>
                       <div class="category sortie">Sortie</div>
                       <p>Belle Epoque ! Au Maxim's</p>
                       <img src="img/test.jpg" alt="" width="100%" height="150px"/>
                   </article>
               </a>
           </div>
        </div>

        <!-- Others Articles -->
       <div class="row section_second">
           <div class="col">
               <a href="#/app/gooddeal/1" nav-clear menu-close>
                   <div class="category mode">Mode</div>
                   <p> Belle Epoque !</p>
                   <img src="img/test.jpg" alt=""/>
               </a>
           </div>

           <div class="col">
               <a href="#/app/gooddeal/1" nav-clear menu-close>
                   <div class="category style">Style</div>
                   <p> Belle Epoque !</p>
                   <img src="img/test.jpg" alt=""/>
               </a>
           </div>
       </div>

        <div class="row section_second">
            <div class="col">
                <a href="#/app/gooddeal/1" nav-clear menu-close>
                    <div class="category mode">Mode</div>
                    <p> Belle Epoque !</p>
                    <img src="img/test.jpg" alt=""/>
                </a>
            </div>

            <div class="col">
                <a href="#/app/gooddeal/1" nav-clear menu-close>
                    <div class="category mode">Mode</div>
                    <p> Belle Epoque !</p>
                    <img src="img/test.jpg" alt=""/>
                </a>
            </div>
        </div>

        <div class="row section_second">
            <div class="col">
                <a href="#/app/gooddeal/1" nav-clear menu-close>
                    <div class="category mode">Mode</div>
                    <p> Belle Epoque !</p>
                    <img src="img/test.jpg" alt=""/>
                </a>
            </div>

            <div class="col">
                <a href="#/app/gooddeal/1" nav-clear menu-close>
                    <div class="category mode">Mode</div>
                    <p> Belle Epoque !</p>
                    <img src="img/test.jpg" alt=""/>
                </a>
            </div>
        </div>

    </ion-content>
</div>